//when you want to stay your code more organized, you can separate
// all class you want in other files. example:


//when you want to create variables for the same thing
//for example, a button, text, etc:
$mainBtn: aquamarine;
$textColor: rgb(9, 116, 165);
$alignCenter: center;
$arialText: arial;